name: Build

on:
    pull_request:
        branches:
            - develop

    push:
        branches:
            - master
            - develop

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout the code
              uses: actions/checkout@v4

            - name: Set up JDK 17
              uses: actions/setup-java@v2
              with:
                  distribution: 'temurin'
                  java-version: '17'

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            - name: Check code style
              run: ./gradlew ktlintCheck --continue

            - name: Build with Gradle
              run: ./gradlew build

            - name: Upload a Build Artifact
              uses: actions/upload-artifact@v3.1.3
              with:
                  # Artifact name
                  name: Notify.apk
                  # A file, directory or wildcard pattern that describes what to upload
                  path: app/build/outputs/apk/debug/app-debug.apk
